@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #2c2c2c;
}

section {
    font-family: Lora;
    padding: 50px;
    transition: background-color 0.5s ease;

    & h1 {
        font-weight: 500px;
    }
}

header {
    position: absolute;  /* Posiciona o header no topo da página, mas ele rola junto com o conteúdo */
    top: 0;
    width: 1800px;
    width: 100%;
    left: 50%;  /* Centraliza o header horizontalmente */
    transform: translateX(-50%);  /* Compensa o deslocamento do header pra ficar exatamente no meio */
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 50px;
    z-index: 1;  /* Coloca o header acima de outros elementos da página */
    padding: 20px 0px;
    backdrop-filter: blur(5px);  /* Efeito de desfoque no fundo do header */
    border-bottom: 1px solid #000000;  /* borda inferior do header */

    #divLogo {
        font-size: 45px;
        padding-left: 40px;
        display: flex;
        font-family: Lora;
    }

    & nav {   /* colocar um aparador/linha verde abaixo da página atual, menos na home pq ela não ta na navegação */
         display: flex;
         justify-content: center; /* Centraliza o conteúdo do nav horizontalmente */
         max-width: 1850px;
         width: 100%;
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);  /* Cria 3 colunas automaticamente de 200px */
            align-content: center;
        }
    }
}

body header nav ul {

    & #navS {
        text-decoration: none;
        color: #fff;
        font-family: Lora;
    }

    & #navS:hover{
        color: #14f100;
    }
}

p, h1 {
    text-align: justify;
    color: #e9e7e7;
    transition: color 0.5s ease;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.pgAtual {
    color: #14f100;
    & #serv {
        height: 3px;
        width: 63px;
    }
    & #nf {
        height: 3px;
        width: 85px;
    }
    & #faleCon {
        height: 3px;
        width: 98px;
    }
}

.paralax {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%); /* ajusta a altura do escrito na frente da imagem */
  min-width: 1100px;
  text-align: center;

  /* estilização do texto na frente da imagem */
  & .h1_GDH{
    color: white;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #000000;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 2px;
    opacity: 100%;
  }
}

.GDH_paralax {
  position: relative;
  aspect-ratio: 1920 / 1600;
  height: auto;
  min-height: 300px;
  background-image: url('img/MP2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 90px;
}

.h1_GDH {
  font-size: 50px;
  font-family: Lora;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}


hr {
  border: 0;
  height: 5px;
  background: linear-gradient(125deg, #096300, #14f100); /* Cor da linha */
  margin: 2px 0 0 0; /* Alinha a linha à esquerda e adiciona margem superior */
  border-radius: 15px;
}

#hrSobre {
width: 184px; /* Largura da linha */
}

#hrDiferencial {
width: 198px; /* Largura da linha */
}

#hrLocalizacao {
width: 131px; /* Largura da linha */
}

.container-GD {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 1.5fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 40px; 
  grid-template-areas: 
    "sobreGD sobreGD sobreGD sobreGD sobreGD list"
    "sobreGD sobreGD sobreGD sobreGD sobreGD list"
    "sobreGD sobreGD sobreGD sobreGD sobreGD list"; 
}

#sobreGD {
    grid-area: sobreGD;
    width: 100%;
    max-width: 1500px;
}

#list {
    grid-area: list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 45px;

    & .item {
        display: flex;
        align-items: center;
        color: #2c2c2c;
        font-weight: bold;
        padding: 4px 0;
        min-width: 90px;
        max-width: 130px;
        cursor: default;

        & .icon {
            width: auto;
            height: 45px;
            margin-right: 10px;
        }
    }
}

.mudaCor {
    padding-top: 50px;
}

#buttonContato {
    width: 125px;
    height: 25px;
    border-radius: 9px;
    color: #3ce02a;
    background-color: black;
    cursor: pointer;
}

#buttonEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 25px;
    border-radius: 9px;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
}

.borderStyleCSS {
    border-style: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-weight: bold;
}

#modalContato {
    display: none;
}

#contato_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .link_modal {
        text-decoration: none;
        color: #3ce02a;
        padding: 0 10px;
    }
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-content {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    min-height: 600px;
    max-height: 650px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    
    & #nome, #email, #mensagem, #telefone {
        border-radius:5px;
        border-color: #096300;
        height: 30px;
        width: 360px;
        padding: 5px;
    }

    & #mensagem {
        min-height: 50px;
        max-height: 100px;
        resize: none;
        border: 2px solid #096300;
    }
}

.close {
    position: absolute;
    right: 15px; top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#vejaMais {
    margin-left: 15px;
    font-size: 13px;
    color: #13be04;
}

#maps {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: normal;
    background-color: #181818;
    padding: 50px 0;

    & button {
        display: flex;
        align-items: center;
        font-family: "Lora", serif;
        font-weight: bolder;
        background-color:#181818;
        color:white;
        border:none;
        padding:10px 20px;
        border-radius:5px;
        cursor:pointer;

        & img {
            width: 30px;
            height: auto;
            padding-left: 5px;
        }
    }
}

.logoHome {
    text-decoration: none;
    color: black;
}

/* Estilização serviços */
.S_paralax {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%); /* ajusta a altura do escrito na frente da imagem */
  min-width: 1100px;
  text-align: center;
}

.GDS_paralax {
  position: relative;
  aspect-ratio: 1920 / 1050; /* revisar altura <- <- <- */
  height: auto;
  min-height: 300px;
  background-image: url('img/MP1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 90px;
}

.row_serv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    transform: 0.2 ease;
    padding: 30px 0;

    & .servico {
        & img {
            width: 100%;
            max-width: 300px;
            height: auto;
            border-radius: 15px;
            padding-bottom: 10px;
            cursor: pointer;
        }
        
        & div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 300px;
            cursor: default;
            
            h1 {
                font-size: 20px;
                margin-bottom: 5px;
            }
        }
    }
}


/* Estilização Nossa Frota */
.nF_paralax {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%); /* ajusta a altura do escrito na frente da imagem */
  min-width: 1100px;
  text-align: center;
}

.GDnF_paralax {
  position: relative;
  aspect-ratio: 1920 / 1050; /* revisar altura <- <- <- */
  height: auto;
  min-height: 300px;
  background-image: url('img/MP4.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 90px;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;

    & .link_F {
        text-decoration: none;
        color: #3ce02a;
        padding: 0 10px;
    }
}

.carrosEscala {
    cursor: pointer;
    width: 100%;
    max-width: 190px;
    max-height: 100px;
}

.borderFrota {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2d79249d;
    padding-bottom: 15px;
    width: 250px;
}

.carroHeight {
    max-height: 100px;
}

.descripCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_Frota {
    justify-items: center;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "G10 HR-V BMW-320i"
        "Onix Equinox Audi"
        "Sandero LexusRX Mercedes"
        "HB20 Palisade Bentley";
}

/* G10 */
.G10 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro1 carro1 carro1"
        "carro1 carro1 carro1"
        "descrip1 descrip1 descrip1";
    grid-area: G10;
}
#carro1 {
    grid-area: carro1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip1 {
    grid-area: descrip1;
}

/* HR-V */
.HR-V {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro2 carro2 carro2"
        "carro2 carro2 carro2"
        "descrip2 descrip2 descrip2";
    grid-area: HR-V;
}
#carro2 {
    grid-area: carro2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip2 {
    grid-area: descrip2;
}

/* BMW-320i */
.BMW-320i {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro3 carro3 carro3"
        "carro3 carro3 carro3"
        "descrip3 descrip3 descrip3";
    grid-area: BMW-320i;
}
#carro3 {
    grid-area: carro3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip3 {
    grid-area: descrip3;
}

/* Onix */
.Onix {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro4 carro4 carro4"
        "carro4 carro4 carro4"
        "descrip4 descrip4 descrip4";
    grid-area: Onix;
}
#carro4 {
    grid-area: carro4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip4 {
    grid-area: descrip4;
}

/* Equinox */
.Equinox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro5 carro5 carro5"
        "carro5 carro5 carro5"
        "descrip5 descrip5 descrip5";
    grid-area: Equinox;
}
#carro5 {
    grid-area: carro5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip5 {
    grid-area: descrip5;
}

/* Audi */
.Audi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro6 carro6 carro6"
        "carro6 carro6 carro6"
        "descrip6 descrip6 descrip6";
    grid-area: Audi;
}
#carro6 {
    grid-area: carro6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip6 {
    grid-area: descrip6;
}

/* Sandero */
.Sandero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro7 carro7 carro7"
        "carro7 carro7 carro7"
        "descrip7 descrip7 descrip7";
    grid-area: Sandero;
}
#carro7 {
    grid-area: carro7;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip7 {
    grid-area: descrip7;
}

/* LexusRX */
.LexusRX {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro8 carro8 carro8"
        "carro8 carro8 carro8"
        "descrip8 descrip8 descrip8";
    grid-area: LexusRX;
}
#carro8 {
    grid-area: carro8;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip8 {
    grid-area: descrip8;
}

/* Mercedes */
.Mercedes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro9 carro9 carro9"
        "carro9 carro9 carro9"
        "descrip9 descrip9 descrip9";
    grid-area: Mercedes;
}
#carro9 {
    grid-area: carro9;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip9 {
    grid-area: descrip9;
}

/* HB20 */
.HB20 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro10 carro10 carro10"
        "carro10 carro10 carro10"
        "descrip10 descrip10 descrip10";
    grid-area: HB20;
}
#carro10 {
    grid-area: carro10;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip10 {
    grid-area: descrip10;
}

/* Palisade */
.Palisade {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro11 carro11 carro11"
        "carro11 carro11 carro11"
        "descrip11 descrip11 descrip11";
    grid-area: Palisade;
}
#carro11 {
    grid-area: carro11;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip11 {
    grid-area: descrip11;
}

/* Bentley */
.Bentley {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "carro12 carro12 carro12"
        "carro12 carro12 carro12"
        "descrip12 descrip12 descrip12";
    grid-area: Bentley;
}
#carro12 {
    grid-area: carro12;
    display: flex;
    justify-content: center;
    align-items: center;
}
#descrip12 {
    grid-area: descrip12;
}


/* Estilização Fale Conosco */
.F_paralax {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100px;
  text-align: center;
  width: 100vw;
  pointer-events: none;
}

.GDF_paralax {
    position: relative;
    height: 950px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* faz a imagem se adaptar à altura da janela */
    object-fit: cover;
}

.sobrepor {
    position: relative;
    z-index: 1;
}

.transparente {
    transition: background-color 0.5s ease;
}

.transparente_Style {
    padding: 50px;
    border-radius: 30px;
    width: 100%;
    min-width: 700px;
    max-width: 1750px;
}

.formTitle {
    display: flex;
    justify-content: center;
}

#form_F {
    display: flex;
    flex-direction: column;
    align-items: center;

    & #nome, #email, #mensagem, #telefone, #data, #origem, #destino {
        background-color: #181818;
        border-color: #17d805c0;
        height: 50px;
        width: 100%;
        min-width: 295px;
        max-width: 360px;
        padding: 5px;
        border-radius: 10px;
        padding: 0 10px;
        margin: 0 10px;
    }

    & #data {
        color: #ffffff5d;
    }

    & #data::-webkit-calendar-picker-indicator {
        filter: invert(100%) opacity(0.4);
    }

    & #mensagem {
        padding: 10px;
        height: 100px;
        width: 100%;
        min-width: 600px;
        max-width: 740px;
        resize: none;
        border: 2px solid #096300;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        & .col {
            flex: 1; /* Faz com que as colunas ocupem o mesmo espaço */
            padding: 0 10px; /* Adiciona espaçamento entre as colunas */
        }
    }

    & #buttonEnviar {
        padding: 20px 45px;
        cursor: pointer;
        transition: all 0.3s ease;
        color: #e9e7e7f1;
        font-weight: bold;
        font-size: 14px;
    }

    & .borderStyle {
        border-style: double;
    }

    & .borderStyleCSS {
        border-style: none;
        border-radius: 25px;
    }
}